@import "~@fortawesome/fontawesome-free/css/all.min.css";

.maindisplay {
  padding-top: 10px;
  background-color: rgb(22, 50, 66);
  min-height: 720px;
  width: 100%;
}

.sections {
  display: flex;
}

@media (max-width: 700px) {
  .sections {
    display: grid;
  }

  .leftSection {
    display: none;
  }
  .rightSection {
    width: 100% !important;
    left: 1px;
  }
}

.leftSection {
  height: 700px;
  width: 35%;
  margin-left: 60px;
  padding-top: 25px;
}

.rightSection {
  width: 65%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  /* border: 1px solid black; */
}
.text-box {
  position: absolute;
  bottom: 15px;
  left: 40%;
  transform: translateX(-25%);
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid #399ccd;
  width: 210px;
  /* width: 50%; */
  height: 35px;
  box-shadow: 0 4px 8px rgba(247, 238, 238, 0.2);
  display: flex;
  align-items: center;
  /* gap: 5px; */
}

@media (max-width: 700px) {
  .text-box {
    transform: translateX(40px);
    .image-container {
      position: fixed;
    }
  }
  #middle-box {
    transform: translateX(70%) !important;
  }
}

.man2img {
  margin-left: 130px !important;
}

#middle-box {
  transform: translateX(-70%);
}

.text-box span {
  padding: 1.5px;
  font-size: 13px;
  font-weight: 400;
}

.leftSection img {
  width: 190px;
  display: flex;
  padding-left: 30px;
  margin: 30px;
}

.rightSection h1 {
  font-size: 55px;
  color: white;
  margin: 0px;
  padding: 9px;
}
.rightSection h2 {
  color: white;
  margin: 5px;
  padding: 9px;
}

#h1color {
  color: rgb(140, 218, 241);
}
.rightSection p {
  color: rgb(244, 239, 239);
  font-size: 22px;
  font-weight: 500;
  margin: 2px;
  padding: 9px;
}
.colorP {
  color: rgb(140, 218, 241);
  font-weight: 700;
}

.jobsearchSection {
  background-color: black;
  border-radius: 15px;
  min-height: 150px;
  width: 100%;
  padding: 0px;
  margin: 10px 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.jobSearchSectionInside {
  padding: 9px;
}
@media (max-width: 600px) {
  .jobsearchSection {
    width: 50%;
    height: 250px;
    transform: translateX(50%);
  }
  .jobSearchSectionInside {
    display: flex;
    flex-direction: column;
  }
}
.jobsearchSection input {
  border: 1px solid #fffcfc;
  border-radius: 10px;

  padding: 9px;
  font-size: 15px;
  width: 200px;
  margin-top: 10px;

  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(222, 228, 231);
}

.jobsearchSection button {
  border: 1px solid #fffcfc;
  border-radius: 10px;
  transform: translateY(10px);
  /* transform: translateX(-10px); */

  font-size: 14px;
  width: 200px;
  height: 35px;
  color: black;
  font-weight: 600;
  /* box-sizing: border-box; */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(71, 137, 176);
  box-shadow: 1px;
  box-shadow: 0 5px 8px rgba(249, 246, 246, 0.3);
}

.jobsearchSection i {
  margin-top: 5px;
}

/* .jobsearchSection input:hover {
  background-color: rgb(236, 242, 245);
} */
.icon-jobsearch {
  position: relative;
  width: 100%;
}

.icon-jobsearch i {
  position: absolute;
  top: 50%;

  left: 165px;
  width: 100%;

  border-top-right-radius: 9px;

  border-bottom-right-radius: 9px;
  transform: translateY(-50%);
  color: #999;
}

.jobsearchSection button:hover {
  background-color: black;
  color: white;
  border: 1px solid rgb(19, 117, 120);
}

.techTalent {
  background-color: rgb(199, 225, 228);
  border-radius: 15px;
  height: 120px;
  padding: 0px;
  margin: 40px 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.jobSearchSectionInside,
.techTalent {
  display: flex;
  /* margin: 5px 0px; */
}

.techTalent i {
  width: 70px;
  padding: 10px;
  padding-top: 25px;
  font-size: 50px;
}

.techTalent button {
  width: 120px;
  height: 30px;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 1px;
  margin: 35px 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  box-shadow: 0 5px 8px rgba(4, 4, 4, 0.3);
}

.techTalent button:hover {
  transform: translateY(-3px);
  background-color: black;
  color: white;
}
.techTalentText {
  margin-top: 10px;
}

.techTalent h3 {
  margin-top: 20px;
  padding: 3px;
  margin: 9px;
}
