@import "~@fortawesome/fontawesome-free/css/all.min.css";

.maindisplay {
  padding-top: 10px;
  background-color: rgb(22, 50, 66);
  height: 720px;
}

.sections {
  display: flex;
}

.leftSection {
  height: 700px;
  width: 35%;
  margin-left: 20px;
  padding-top: 25px;
}

.rightSection {
  width: 65%;

  padding: 50px;
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
}
.text-box {
  position: absolute;
  bottom: 15px;
  left: 40%;
  transform: translateX(-25%);
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid #399ccd;
  width: 210px;
  height: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.man2img {
  margin-left: 130px !important;
}

#middle-box {
  transform: translateX(-70%);
}

.text-box span {
  padding: 1.5px;
  font-size: 13px;
  font-weight: 400;
}

.leftSection img {
  width: 190px;
  display: flex;
  padding-left: 30px;
  margin: 30px;
}

.rightSection h1 {
  font-size: 55px;
  color: white;
  margin: 0px;
  padding: 9px;
}
.rightSection h2 {
  color: white;
  margin: 5px;
  padding: 9px;
}

#h1color {
  color: rgb(140, 218, 241);
}
.rightSection p {
  color: rgb(244, 239, 239);
  font-size: 22px;
  font-weight: 500;
  margin: 2px;
  padding: 9px;
}
.colorP {
  color: rgb(140, 218, 241);
  font-weight: 700;
}

.jobsearchSection {
  background-color: black;
  border-radius: 15px;
  height: 145px;
  padding: 0px;
  margin: 10px 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.jobSearchSectionInside {
  display: grid;

  gap: 5px;
  justify-content: flex-start;
  padding: 9px;
  margin-right: 80px;
}

.jobsearchSection input {
  border: 1px solid #fffcfc;
  border-radius: 10px;
  color: white;
  padding: 9px;
  font-size: 15px;
  width: 85%;
  margin-top: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(22, 50, 66);
}

.jobsearchSection button {
  margin-top: 11px;
  margin-right: 15px;
  border: 1px solid #fffcfc;
  border-radius: 10px;
  /* padding: 19px; */
  font-size: 14px;
  width: 50%;
  height: 35px;

  font-weight: 600;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(71, 137, 176);
  box-shadow: 1px;

  box-shadow: 0 5px 8px rgba(249, 246, 246, 0.3);
}

.jobsearchSection i {
  margin-top: 5px;
}

.jobsearchSection input:hover {
  background-color: rgb(7, 80, 122);
}
.icon-jobsearch {
  position: relative;
  width: 100%;
}

.icon-jobsearch i {
  position: absolute;
  top: 50%;
  padding: 8px 8px;
  left: 165px;
  width: 33px;
  height: 35px;
  border-top-right-radius: 9px;
  background-color: rgb(28, 122, 195);
  border-bottom-right-radius: 9px;
  transform: translateY(-50%);
  color: #999;
}

.icon-jobsearch i:hover {
  color: white;
  /* background-color: rgb(221, 81, 81); */
  /* transform: scale(1.1); */
}

.jobsearchSection button:hover {
  transform: translateY(1px);
  background-color: black;
  color: white;
  border: 1px solid rgb(19, 117, 120);
}

.techTalent {
  background-color: rgb(199, 225, 228);
  border-radius: 15px;
  height: 120px;
  padding: 0px;
  margin: 40px 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.jobSearchSectionInside,
.techTalent {
  display: flex;
  /* margin: 5px 0px; */
}

.techTalent i {
  width: 70px;
  padding: 10px;
  padding-top: 25px;
  font-size: 50px;
}

.techTalent button {
  width: 120px;
  height: 30px;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 1px;
  margin: 35px 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  box-shadow: 0 5px 8px rgba(4, 4, 4, 0.3);
}

.techTalent button:hover {
  transform: translateY(-3px);
  background-color: black;
  color: white;
}
.techTalentText {
  margin-top: 10px;
}

.techTalent h3 {
  margin-top: 20px;
  padding: 3px;
  margin: 9px;
}
