.techSection {
  overflow: hidden;
  width: 100%;
}

.techSection h1 {
  text-align: center;
  font-family: Degular Medium;
  padding: 20px;
  letter-spacing: 1.5px;
  font-size: 45px;
  color: rgb(38, 40, 65);
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 10%;
  justify-items: center;
}

.box {
  background-color: #e1e4ea;
  color: rgb(25, 26, 35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 180px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.4s ease;
  box-shadow: 0 4px 8px rgba(29, 29, 29, 0.3);
}

.box:hover {
  transform: scale(1.1);
  border: 1.5px solid rgb(83, 141, 185);
}

.box:hover .boximg {
  transform: scale(1.2);
  backdrop-filter: blur(px);
}

.box img {
  max-width: 80px;
  height: auto;
  padding: 9px;
  margin: 2px 17px;
  width: 100%;
}

.box p {
  font-size: 15px;
  color: rgb(25, 26, 35);
  text-align: center;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.box:hover .boxname {
  opacity: 0;
  /* transition: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  transition: 0.1s ease;
}

.know-more-btn {
  width: 90px;
  display: none;
  position: absolute;
  bottom: 10px;
  padding: 5px 10px;
  background-color: #eff4f6;
  color: rgb(29, 49, 64);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.box:hover .know-more-btn {
  display: block;
  border: 1.5px solid rgb(83, 141, 185);
}

.know-more-btn:hover {
  transform: translateY(-2px);
  background-color: #e0e0e0;
}

.show-more-btn {
  width: 8em;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: rgb(29, 49, 64);
  border: 1px solid rgb(83, 141, 185);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-content: center;
  margin-left: 45%;
}

.show-more-btn:hover {
  background-color: #e0e0e0;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 10%;
    justify-items: center;
  }

  .box {
    background-color: #e1e4ea;
    color: rgb(25, 26, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 130px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.4s ease;
    box-shadow: 0 4px 8px rgba(29, 29, 29, 0.3);
  }
}

@media (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 10%;
    justify-items: center;
  }

  .box {
    background-color: #e1e4ea;
    color: rgb(25, 26, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.4s ease;
    box-shadow: 0 4px 8px rgba(29, 29, 29, 0.3);
  }
  .box img {
    max-width: 60%;
    height: auto;
    padding: 9px;
    margin: 2px 17px;
    /* width: 100%; */
  }

  .box p {
    font-size: 11px;
    margin-right: 19px;
    color: rgb(22, 50, 60);
  }
  .show-more-btn {
    /* text-align: center;
    justify-content: center; */
    width: 130px;
    margin-left: 35%;
  }
}

.modal-overlayAI {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above everything else */
}

.modal-contentAI {
  width: 90%;
  height: 95%;
  background-color: white;
  position: relative;
  overflow-y: auto; /* Add scroll for large content */
}

.close-modal-btnAI {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.close-modal-btnAI:hover {
  color: red;
}
