.radial-progress-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.radial-progress {
  position: absolute;
  top: 0;
  left: 0;
}

.radial-progress-bg {
  fill: none;
  stroke: #e6e6e6; /* Background circle color */
}

.radial-progress-bar {
  fill: none;
  stroke: rgb(247, 206, 70); /* Progress bar color */
  transition: stroke-dashoffset 0.35s;
  /* Rotate the progress bar so it starts at the bottom */
  transform: rotate(90deg);
  transform-origin: 50% 50%; /* Rotate from the center */
}

.progress-text {
  font-size: 12px;
  fill: #000; /* Color of the progress percentage */
}

.profile-picture {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(15%, 30%);
  width: 100px;
  height: 80px;

  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
