@import "~@fortawesome/fontawesome-free/css/all.min.css";

.contactHeader {
  background-image: url("contactbanner.png");
  width: 100%;
  height: 370px;
  background-size: cover;
}
.contactHeader hr {
  position: absolute;

  margin: 160px 765px;
  background-color: white;
  width: 110px;
  height: 4px;
  border: none;

  transform: rotate(90deg);
}

.contactHeader h1 {
  position: relative;
  /* background-color: black; */
  float: right;
  font-size: 47px;
  color: white;
  padding-right: 175px;
  padding-top: 100px;
  /* padding: 40px; */
}
.contactHeader span {
  color: rgb(68, 187, 234);
}

.contactDetails {
  display: flex;
  width: 100%;
  /* height: 800px; */
}

.contactDetailsLeft {
  width: 50%;
  background-color: rgb(237, 243, 249);
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
.contactDetailsRight {
  width: 50%;
}

.contactPageMainText h1 {
  color: rgb(29, 49, 64);
  font-size: 23px;
}
.contactPageMainText span {
  color: rgb(18, 182, 223);
}
.contactPageMainText p {
  color: rgb(29, 49, 64);
  font-size: 15px;
  padding-top: 4px;
}

.contactPageAddr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex; */
  gap: 40px;
  /* border: 1px solid black; */
  width: 550px;
  height: 250px;
}

.contactPageAddrDetails {
  /* background-color: rgb(107, 107, 214); */
  color: rgb(29, 49, 64);
}
.contactPageAddrDetails img {
  width: 40px;
  margin: 25px 40px;
  /* padding: 30px; */
}

.contactPageSendMsg {
  /* padding-top: 20px; */
  /* margin-top: 50px; */
  /* background-color: rgb(188, 188, 226); */
}
.contactPageSendMsg hr {
  height: 3px;
  background-color: black;
  margin-bottom: 20px;
}
.contactPageSendMsg p {
  font-size: 18px;
  font-weight: 500;
  /* padding: 3px; */
  margin-bottom: 10px;
  color: rgb(29, 49, 64);
}
.contactPageSendMsg input {
  width: 240px;
  height: 30px;
  background-color: #a0aeb9;
  border: none;
  border-radius: 5px;
  color: black;
  margin-right: 25px;
  margin-left: 0px;
  text-align: center;
}
.contactPageSendMsg input::placeholder {
  color: white;
}

.contactPageSendMsgInput textarea {
  margin-top: 15px;
  border-radius: 5px;
  background-color: #a0aeb9;
  width: 515px;
  height: 150px;
  padding: 10px;
  color: black;
}

.contactPageSendMsg textarea::placeholder {
  color: white;
}
.contactPageSendMsgInput button {
  background-color: rgb(29, 49, 64);
  color: white;
  margin-top: 10px;
  margin-left: 200px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;
}

.contactPageSendMsgInput button:hover {
  background-color: rgb(38, 88, 112);
}

.contactMap {
  width: 640px;
  height: 800px;
}
@media (max-width: 768px) {
  .contactHeader {
    background-image: none;
    background-color: black;
  }
  .contactDetails {
    display: inline;
  }
  .contactDetailsLeft {
    width: 100%;
  }
  .contactDetailsRight {
    width: 100%;
  }
  .contactPageAddr {
    width: 100%;
    display: inline;
    text-align: center;
  }

  .contactPageAddrDetails {
    display: inline;
  }
  .contactPageAddrDetails img {
    margin-left: 180px;
  }
  .contactPageSendMsg input {
    width: 100%;
    margin-bottom: 10px;
  }
  .contactPageSendMsgInput textarea {
    width: 100%;
  }
  .contactPageSendMsgInput button {
    margin: 10px 150px;
  }

  .contactDetailsRight {
    width: 100%;
  }
  .contactMap {
    width: 100%;
  }
}
